<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>sisucheckout</name>
    <displayName><![CDATA[Simplesurance Checkout Plugin]]></displayName>
    <version><![CDATA[1.0.9]]></version>
    <description><![CDATA[Simplesurance checkout integration]]></description>
    <author><![CDATA[simplesurance GmbH]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>