.top_menu_second {
    right: 0;
    transform: translateX(370px);
}
.open .top_menu_second {
    transform: translateX(0px);
}
.pe.pe-7s-close {
    left: 56px;
    right: auto;
}
.text_menu{
	padding-right:51px;
	padding-left:0;
}
.dropdown-menu.mega-dropdown-menu {
    right:  100%;
}
.top_group .addon-box{
	float:left;
}
#cart_block .shoppingcart-box{
	 left: -43px;
    right: auto;	
}
.btn-group.open .dropdown-menu::before {
    left: 49px;
    right: auto;
}
.block_c_right .newsletter-input {
    border-radius: 0 30px 30px 0;
}
.newsletter-btn.buttonh1{
	 border-radius: 30px 0 0 30px;
}
.footer_bottom .addon-box > p{
	text-align:left;
}
.contact-info {
    padding-left: 59px;
    padding-right: 0;
}
@media (max-width: 991px){
   .top_menu_second .layout-column.menu_hidden {
		position: absolute;
		right: 0;
		width: 73px;
   }	
}
@media (max-width:767px){
.footer_bottom .addon-box > p {
    text-align: right;
}
}
@media (max-width:670px){
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 43% !important;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-prev {
		right: 52% !important;
	}
}
@media (max-width:481px){
   .top_group {
		float: left;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 38% !important;
	}
}
.newsletter .newsletter-btn.buttonh1{
	margin-right: 21px;
}
.top_group #cart_block .shoppingcart-box{
	left: -28px !important;
}
.top_group .btn-group.open .dropdown-menu::before{
	left: 12px;
	right: auto !important;
}
.top_group .searchbox #ajax_search{
	left: -88px;
	right: auto;
}
.top_group .searchbox::after{
	left: -32px;
	right: auto !important;
}
.box-shadow #cart_block .shoppingcart-box{
	top: 46px;
}
.box-shadow .top_group .searchbox #ajax_search{
	top: 18px !important;
}
.box-shadow .searchbox::after{
	top: 12px !important;
}
.top_menu p::before{
	background-position: right; 
}
.headertop #search_result{
	right: 88px !important;
}
.jms-megamenu .menu-align-justify > .dropdown-menu{
	right: 371px;
}
.product-variants-item.size::after{
	right: 182px;
	left: auto;
}
.top_group .shopping-cart{
	background: rgba(0, 0, 0, 0) url(../img/shopping-bag.png) no-repeat 0px 0px;
}
.mega-col-nav.col-sm-3:first-child{
	border-left: 1px solid #ebebeb;
}
#cart_block .ajax_cart_quantity{
	left: -2px;
}
.newsletter .right img{
	float: left;
}
.newsletter .alert-danger{
	background: transparent;
}
.feature .owl-carousel .owl-stage .owl-item{
	margin-left: 0 !important;
}
.special-offer{
	background-position: right !important;
}
.special-offer .layout-column{
	float: left;
}
@media (max-width: 414px){
	.top_group #cart_block .shoppingcart-box{
		right: auto !important;
	}
	.headertop .top_group .searchbox::after{
		left: -32px;
	}
}
@media (max-width: 375px){
	.top_group .shopping-cart{
		width: 30px;
	}
}
@media (max-width: 481px){
	.headertop #search_result{
		right: 68px !important;
	}
	.top_group .searchbox #ajax_search{
		left: -68px !important;
	}
	.top_group .searchbox::after{
		left: -24px;
	}
}