.headertop_right .addon-box{
	float:left;
}
.headertop_right .addon-box:first-child{
	margin-left:0;
}
.header-right .addon-box{
    float: left;
}
.header-right #cart_block .ajax_cart_quantity{
    right: 15px;
}
.header-right .addon-box:first-child{
    margin-right: 27px;
}
.top_menu_second {
    float: left;
    height: 100%;
    margin-left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transform: translateX(-370px);
	left:0;
	right:auto !important;
}
.open .top_menu_second {
    transform: translateX(0px);
}
#open-button::before {
    top: 49px !important;
}
.home_3 .jms-megamenu .mega-nav .mega > a::after {
    right: 20px;
    left: auto;
     -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
}
.home_3 .jms-megamenu .mega-nav li > a:hover {
    padding-right:0px;
}
.home_3 .jms-megamenu .nav > .item-fullwidth .mega-nav li > a:hover {
    padding-left: 15px;
	padding-right:0px;
}
.dropdown-menu.mega-dropdown-menu {
    left: 100% !important;
	right:auto !important;
}
.jms-megamenu .menu-align-center > .dropdown-menu {
    left: 100% !important;
    right: auto !important;
    transform: translate(0%) !important;
}
.pe.pe-7s-close {
    left: 56px;
    right: auto;
}
.text_menu {
    padding: 8px 51px 8px 0;
}
.header_top #cart_block .dropdown-menu.shoppingcart-box {
    left: -118px !important;
    right: auto;
    top: 66px;
}
.header_top.nav-fix #cart_block .dropdown-menu.shoppingcart-box {
    left: -118px !important;
    right:auto !important;
}
.menu-wrap {
    left: -300px !important;
    right: auto !important;
	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
}
.show-menu .menu-wrap {
    left: 0 !important;
    right: auto !important;
	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
}
.newsletter-btn.buttonh2{
	 transform: rotate(180deg);
}
footer .blog-item .img-responsive {
    margin-left: 24px;
    margin-right: 0;
}
.foooter_bottom_right p{
	text-align:left;
}
.blog_footer_center {
    padding-left: 55px;
    padding-right: 15px
}
.contact_footer {
    padding-left: 83px;
    padding-right: 15px;
}
.foooter_bottom_left li {
    padding-left: 40px;
    padding-right: 0;
}
.foooter_bottom_right p{
	text-align:left;
}
@media(max-width: 1199px){
    .header-right .searchbox::after{
        left: -23px;
    }
    .header_top .btn-group.open .dropdown-menu::before{
        right: auto;
    }
    .header-right span.search-frm{
        margin-right: 0;
    }
}
@media (max-width: 991px){
    #open-button::before{
        background-position: right !important;
    }
}
@media (max-width: 768px){
    .footer-mid .row{
        display: grid;
    }
    .footer-mid #newsletter_block_left{
        float: right !important;
    }
    .header_top.nav-fix #cart_block .dropdown-menu.shoppingcart-box{
        left: -74px !important;
    }
    #header .nav-fix.header_top .header-right .addon-box:first-child .dropdown-menu::before{
        right: auto !important;
        left: 5px !important;
    }
    #header .nav-fix.header_top .header-right .addon-box:nth-child(2) .dropdown-menu::before{
        right: auto !important;
        left: 54px !important;
    }
    .nav-fix .header-right .addon-box:first-child .dropdown-menu{
        right: auto;
        left: -10px !important;
    }
    .header_top .header-right #search_result{
        top: 66px;
    }
    .header-right #ajax_search{
        top: 20px;
    }
    .header-right .searchbox::after{
        top: 15px;
    }
    .header-right #cart_block.open .shoppingcart-box{
        top: 46px;
    }
}
@media (max-width: 767px){
   .foooter_bottom_right p{
    	text-align:right;
    }
}
@media (max-width: 630px){
    .header_top.nav-fix #cart_block .dropdown-menu.shoppingcart-box{
        left: -54px !important;
    }
    #header .nav-fix.header_top .header-right .addon-box:nth-child(2) .dropdown-menu::before{
        right: auto !important;
        left: 42px !important;
    }
    .header_top .header-right .searchbox::after{
        right: auto;
    }
    #header .header-right .btn-group.cart-preview .dropdown-menu.shoppingcart-box::before{
        left: 87px;
    }
    .header-right #cart_block .ajax_cart_quantity{
        right: auto;
    }
    .header-right .addon-box:first-child{
        margin-right: 15px;
    }
}
@media(max-width: 481px){
    #header .header_top.nav-fix #cart_block .dropdown-menu.shoppingcart-box{
        left: -36px !important;
    }
    #header .nav-fix.header_top .header-right .addon-box:nth-child(2) .dropdown-menu::before{
        right: auto !important;
        left: 25px !important;
    }
    .nav-fix.header_top .btn-group.open .dropdown-menu::before{
        right: auto !important;
        left: 5px;
    }
    .header_top.nav-fix .header-right .addon-box:first-child .dropdown-menu{
        right: auto;
        left: -10px !important;
    }
    .header_top .header-right #search_result{
        right: 71px !important;
    }
    .nav-fix #cart_block .shoppingcart-box{
        margin-top: 0 !important;
    }
    .header-right .btn-group.open .dropdown-menu.shoppingcart-box::before{
        left: 45px !important;
        right: auto;
    }
    .header_top .header-right #cart_block.open .shoppingcart-box{
        left: -55px !important;
        top: 43px;
    }
    .layout-column.header-right .addon-box:first-child .dropdown-menu{
        left: -25px;
    }
    .header-right .btn-group.open .dropdown-menu::before{
        left: 45px;
    }
    .header-right .addon-box:first-child{
        margin-right: 7px;
    }
    #open-button::before {
		top: 46px !important;
	}
	#ajax_search {
		right: 121px !important;
	}
}
@media(max-width: 320px){
    #cart_block .ajax_cart_quantity{
        left: 0;
    }
}
.header-right #cart_block .shoppingcart-box:before{
    right: auto;
    left: 97px;
}
.header-right #jms_ajax_search #ajax_search{
    right:auto;
    left: -100px;
}
.header-right #jms_ajax_search .searchbox:after{
    right: auto;
    left: -32px;
}
.header-right .addon-box:first-child .dropdown-menu{
    left: -55px;
}
.btn-group.open .dropdown-menu::before{
    right: auto;
    left: 48px;
}
.title-collection .layout-column{
    float: none;
}
.nav-fix .header-right #cart_block.open .shoppingcart-box{
    top: 46px;
}
.lastest-news .post-info li:not(:first-child) span{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.lastest-news .post-meta li:nth-child(3) span i{
    margin-top: 5px;
    margin-right: 10px;
}
.lastest-news .post-meta li:nth-child(2) span i{
    margin-top: 5px;
    margin-right: 10px;
}
.header-right #search_result{
    right: 99px !important;
    top: 86px;
}
.nav-fix .header-right #search_result{
    top: 66px;
}
.header_top .level0 > .menu-item > .nav-child.fullwidth{
    left: -584px !important;
}
.mega-col-nav.col-sm-3:first-child{
    border-left: 1px solid #ebebeb;
}
.mega-col-nav.col-sm-3{
    padding: 0 20px !important;
}
.header_top .level0 > .menu-item.must-see > .nav-child{
    left: auto !important;
    right: -400px !important;
}
#social_block li{
    margin-left: 7px;
    margin-right: 0;
}
.footer-mid #newsletter_block_left{
    float: left;
}
.alert.alert-danger{
  width: 100%;
  font-size: 13px;
}
.menu-item.must-see.menu-align-justify{
    position: relative;
}
.nav-fix .header-right .addon-box:first-child .dropdown-menu{
    right: auto;
    left: -48px;
}
.nav-fix .btn-group.open .dropdown-menu::before{
    left: 41px;
    right: auto;
}
@media (min-width: 1900px){
    .gift-guide .content img{
        margin-left: -113px;
        margin-right: 151px;
    }
    .gift-guide .content .text-content{
        margin-right: 77px;
        margin-left: 0;
    }
    .sale-off .content img{
        margin-right: -113px;
        margin-left: 151px;
    }
    .sale-off .content .text-content{
        margin-left: 77px;
        margin-right: 0;
    }
}
@media (max-width: 1366px){
    .header_top .level0 > .menu-item.must-see > .nav-child{
        left: auto !important;
        right: -365px !important;
    }
}
@media (max-width: 1280px){
    .header_top .level0 > .menu-item.must-see > .nav-child{
        left: auto !important;
        right: -291px !important;
    }
}
@media (max-width: 1199px){
    .nav-fix .btn-group.open .dropdown-menu::before{
        left: 41px;
        right: auto !important;
    }
    .header_top .level0 > .menu-item.must-see > .nav-child{
        left: auto !important;
        right: -191px !important;
    }
}
@media (max-width: 413px){
    .footer-mid .newsletter-btn.buttonh1{
        margin-right: 0 !important;
    }
}